body{
    height:100vh;
    display:inline-block;
    background: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url('https://hdwallsource.com/img/2016/6/white-chair-desktop-wallpaper-50281-51971-hd-wallpapers.jpg'); 
}
header{
    height:20%;
    display:flex;
    align-items:center;
    justify-content: center;
    
}
main{
    display:inline-block;
    height:auto;
}
footer{
    display: flex;
    justify-content: center;
}

#names{
    width: 100vw;
    text-align: center;
    
}

div{
    height :30px;

}